@(projectid: String, username: String)

@main("Data Archive on NAS") {

<!-- layout -->
<div class="container-fluid">
	<div class="page-header page-header-bac">
		<br><h1 style="color:#fff">Data Archival<small style="color:#fff"> on NAS</small></h1>
	</div>
	<div class="project-info"></div>
	<div class="page"></div>
</div>

<!-- templates -->
<script type="text/template" id="info-project-template">
  <div class="panel panel-default">
    <div class="panel-body">
      login as : <%= htmlEncode(user.get('firstName')) %> <%= htmlEncode(user.get('lastName')) %> (<%= htmlEncode(user.get('userName')) %>)<br>
      AIMS Project : <%= htmlEncode(project.get('name')) %> (<%= htmlEncode(project.get('id')) %>)<br>
      AIT : <%= htmlEncode(project.get('ait').name) %> (<%= htmlEncode(project.get('ait').id) %>)
    </div>
  </div>   
</script>

<script type="text/template" id="list-archive-template">
  <div class="panel panel-default">
  	<div class="panel-heading">
  		Archive Files
  	</div>
    <div class="table-responsive">
      <table class="table table-striped table-condensed">
      	<thead>
      	  <tr>
      	    <th>File <span class="badge"><%= length %></span></th>
      	    <th></th>
      	  </tr>
      	</thead>
      	<tbody>
      	  <% _.each(archiveModels, function(archive) { %>
      	  	<tr>
      	  	  <td><% if (archive.get('dir')) { %> <span class="glyphicon glyphicon-folder-close"></span> <% } %><%= htmlEncode(archive.get('name')) %></td>
              <td><% if (archive.get('dir')) { %> <a class="btn btn-default" href="/portal/projects/<%= htmlEncode(projectid) %>/files.html#<%= htmlEncode(archive.get('guid')) %>/<%= htmlEncode(archive.get('str')) %>">open</a> <% } 
              else { %> <a class="btn btn-default" href="/portal/projects/<%= htmlEncode(projectid) %>/files/<%= htmlEncode(archive.get('parent')) %>/<%= htmlEncode(archive.get('guid')) %>">recall</a><% } %></td>
      	  	</tr>
      	  <% }); %>
      	</tbody>
      </table>
    </div>
  </div>
</script>

<!-- MVC -->
<script>
    function htmlEncode(value){
      return $('<div/>').text(value).html();
    }
    $.fn.serializeObject = function() {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
    };

  var projectid = '@projectid';
  var username = '@username';

  var ArchiveCollection = Backbone.Collection.extend({
  	url: '/portal/projects/' + projectid + '/files'
  });

  var ProjectModel = Backbone.Model.extend({
  	urlRoot: '/portal/projects'
  });

  var UserModel = Backbone.Model.extend({
    url: '/portal/projects/' + projectid + '/users'
  });

  var ArchiveListView = Backbone.View.extend({
    el: '.page',
    render: function(options) {
    	var that = this;
    	var archiveCollection = new ArchiveCollection();
    	archiveCollection.fetch({
        data: {"guid": options.guid, "dir": options.dir},
    		success: function(archiveCollection) {
    			var template = _.template($('#list-archive-template').html(), 
    				{projectid: options.projectid, length: archiveCollection.length, archiveModels: archiveCollection.models});
    	     	that.$el.html(template);
            that.$el.find($('#datetimepicker').datetimepicker({
              format: 'YYYY-MM-DD', pickTime: false
            }));
    		}, 
    		error: function() {
     			var template = _.template($('#list-archive-template').html(), 
    				{projectid: options.projectid, length: 0, archiveModels: null});
    	     	that.$el.html(template);   			
    		}
    	});
    }
  });
  var archiveListView = new ArchiveListView();

  var ProjectView = Backbone.View.extend({
  	el: '.project-info',
  	render: function(options) {
  		var that = this;
      if (options.username) {
        var userModel = new UserModel();
        userModel.fetch({
          headers: {'x-username': options.username},
          success: function() {
            var projectModel = new ProjectModel({id: options.projectid});
            projectModel.fetch({
              success: function(projectModel) {
                var template = _.template($('#info-project-template').html(), {user: userModel, project: projectModel});
                that.$el.html(template);
              }
            });            
          }
        });
      }
  	}
  });
  var projectView = new ProjectView();

  var Router = Backbone.Router.extend({
  	routes: {
  		'': 'list',
      ':guid/:dir': 'list'
  	}
  });

  var router = new Router();
  router.on('route:list', function(guid, dir) {
  	projectView.render({username: username, projectid: projectid});
    archiveListView.render({projectid: projectid, guid: guid, dir: dir});
  });

  Backbone.history.start();

</script>

}